@switch (layout) {
@case ("vertical") {
<div class="card-container card-v">
  @if(this.photo) {
  <img [src]="photo_url" />
  }
  <h4 class="card-header">{{ this.header }}</h4>
  <p class="card-text">{{ this.text }}</p>
</div>
}

@case ("horizontal") {
<div class="card-container card-h">
  @if(this.photo) {
  <img [src]="photo_url" />
  }
  <h4 class="card-header">{{ this.header }}</h4>
  <p class="card-text">{{ this.text }}</p>
</div>
}

@case ("no-borders") {
<div class="card-nb">
  @if(this.photo) {
  <img [src]="photo_url" />
  }
  <div>
    <h4 class="card-header">{{ this.header }}</h4>
    <p class="card-text">{{ this.text }}</p>
  </div>
</div>
}
}