<section class="hero-banner">
  <div class="container">
    <div class="header">
      <h1 class="">BlinkTek</h1>
    </div>
    <div class="sub-header">
      <p class="tagline">
        Innovating Tomorrow, Today: Pioneering Tech Solutions for a Smarter
        World.
      </p>
    </div>
    <div class="btn-call-action">
      <button routerLink="contact">Get Started</button>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="content">
      <h2 class="section-title">About Us</h2>
      <p class="section-description">
        BlinkTek is a technology company that specializes in providing
        innovative solutions for businesses and individuals. We are committed
        to delivering cutting-edge technology that is designed to make your life
        easier and more efficient. Our team of experts is dedicated to creating
        products that are user-friendly, reliable, and secure. Whether you are
        looking for a custom software solution, a mobile app, or a website, we
        have the expertise to bring your vision to life. Contact us today to
        learn more about how we can help you achieve your goals.
      </p>
    </div>
  </div>
</section>
