.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 500px;
  color: #FFF6FF;
  text-align: center;
  margin-top: 0px;
  background-color: #451f55;

  // background-image: linear-gradient(to top, #121212ce, #121212),
  //   url("/assets/imgs/hero-img-0.png");
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  .header-container {
    margin-bottom: 25px;
  }

  .btn-call-action {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    margin-top: 50px;

    button {
      font-size: 16px;
      color: #FFF6FF;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 64px;
  // margin-top: 50px;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #451f55;
  padding: 25px;
  text-align: center;
}

.section-bg-default {
  background-color: #FFF6FF;
}

.section-bg-prpl {
  background-color: #724E91;
}

.section-bg-prpl-2 {
  background-color: #451f55;
}

.section-bg-prpl-3 {
  background-color: #fff6ff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 768px;

  .header {
    font-size: 56px;
    font-weight: 700;
  }

  .subheader {
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
  }
}

.container-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  gap: 15px;
  margin-bottom: 50px;
}

.container-full-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
}

.accordion-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-title {
  color: white;
}

.section-description {
  color: white;
  line-height: 150%;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 25px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 24px;
}

.header-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
  width: 100%;
  max-width: 768px;

  h1 {
    margin-bottom: 25px;
  }
}

.header-container-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // text-align: center;
  gap: 24px;
  // margin-right: auto;
  // margin-left: auto;
  width: 100%;
  // max-width: 768px;

  h1 {
    color: white;
  }

  p {
    color: white;
  }
}

.btn-group-left {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.btn-group-middle {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 75px;
}

.contact-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waves svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 96px;
}

.waves .shape-fill {
  fill: #FFF6FF;
}

.waves-prpl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waves-prpl svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 110px;
  transform: rotateY(180deg);
}

.waves-prpl .shape-fill {
  fill: #724E91;
}

// 3
.wave-other {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-other svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 104px;
}

.wave-other .shape-fill {
  fill: #451f55;
}

// 4
.custom-shape-divider-bottom-1733355861 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1733355861 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.custom-shape-divider-bottom-1733355861 .shape-fill {
  fill: #fff6ff;
}